* {

    box-sizing: border-box;
}

html, 
body {

    margin: 0;
    padding: 0;
}


body {
    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: #FCF9F6;
   
}

/*Her starter seksjon 1 */
.s1 { 

    height: 100vh;
    width: 100vw;
    width: 1440px;  
    height: 717px;
    margin: auto;
    position: relative;
    background-image: url("iconer/landskap.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #646464;

}

#bil {

    position: absolute;
    background-image: url("iconer/bil.svg");
    background-repeat: no-repeat;
    height: 122px;
    width: 260px;
    background-position: right bottom;
    top: 542px;
  
}

#hjul1{

    position: absolute;
    left: 24px;
    bottom: 0;

}

#hjul2{

    position: absolute;
    left: 198px;
    bottom: 0;
}

#røyk {

    position: absolute;
    bottom: 3px;
    left: -29px;
    opacity: 0.5;
    animation: pulsere .2s infinite;

}

@keyframes pulsere {

    0% {transform: opacity(.3) rotate(-2deg) translateX(-1px);}
    10% {transform: scale(1) rotate(2deg) translateX(1px);}
    20% {transform: opacity(.3) rotate(-2deg) translateX(-1px);}
    30% {transform: scale(1) rotate(2deg) translateX(1px);}
    40% {transform: opacity(.3) rotate(-2deg) translateX(-1px);}
    50% {transform: scale(1) rotate(2deg) translateX(1px);}
    60% {transform: opacity(.3) rotate(-2deg) translateX(-1px);}
    70% {transform: scale(1) rotate(2deg) translateX(1px);}
    80% {transform: opacity(.3) rotate(-2deg) translateX(-1px);}
    90% {transform: scale(1) rotate(2deg) translateX(1px);}
    100% {transform: opacity(.3)rotate(-2deg) translateX(-1px);}

}

.sky1 {
    
    width: 140px;
    position: absolute;
    top: 5rem;
    /*margin-left: 10rem;*/
    opacity: 0.5;
    animation: slide1 300s infinite;

}

@keyframes slide1 {

    0% { 
        transform: translateX(10px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(1100px);
        opacity: 0;
        }
        
}

.sky2 {

    width: 140px;
    position: absolute;
    top: 10rem;
    /*margin-left: 20rem;*/
    opacity: 0.5;
    animation: slide2 3000s infinite;

}

@keyframes slide2 {

    0% { 
        transform: translateX(400px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(1000px);
        opacity: 0;
        }
        
}

.sky3 {

    width: 140px;
    position: absolute;
    top: 4rem;
    /*margin-left: 15rem;*/
    opacity: 0.5;
    animation: slide3 200s infinite;

}

@keyframes slide3 {

    0% { 
        transform: translateX(900px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(300px);
        opacity: 0;
        }
        
}

.sky4 {

    width: 140px;
    position: absolute;
    top: 13rem;
    /*margin-left: 4rem;*/
    opacity: 0.5;
    animation: slide4 500s infinite;
    
}

@keyframes slide4 {

    0% { 
        transform: translateX(1200px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(200px);
        opacity: 0;
        }
        
}

.sky5 {

    width: 80px;
    position: absolute;
    top: 20rem;
    /*margin-left: 4rem;*/
    opacity: 0.5;
    animation: slide5 300s infinite;
    
}

@keyframes slide5 {

    0% { 
        transform: translateX(200px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(1000px);
        opacity: 0;
        }
        
}

.sky6 {

    width: 80px;
    position: absolute;
    top: 23rem;
   /* margin-left: 14rem;*/
    opacity: 0.5;
    animation: slide6 300s infinite;
    
}

@keyframes slide6 {

    0% { 
        transform: translateX(600px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(50px);
        opacity: 0;
        }
        
}

.sky7 {

    width: 80px;
    position: absolute;
    top: 17rem;
    /*margin-left: 20rem;*/
    opacity: 0.5;
    animation: slide7 200s infinite;
    
}

@keyframes slide7 {

    0% { 
        transform: translateX(800px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(50px);
        opacity: 0;
        }
        
}

.sky8 {

    width: 80px;
    position: absolute;
    top: 22rem;
    /*margin-left: 14rem;*/
    opacity: 0.5;
    animation: slide8 300s infinite;
    
}

@keyframes slide8 {

    0% { 
        transform: translateX(1100px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(50px);
        opacity: 0;
        }
        
}

.sky9 {

    width: 50px;
    position: absolute;
    top: 26rem;
    /*margin-left: 4rem;*/
    opacity: 0.5;
    animation: slide9 100s infinite;
    
}

@keyframes slide9 {

    0% { 
        transform: translateX(100px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(50px);
        opacity: 0;
        }
        
}

.sky10 {

    width: 50px;
    position: absolute;
    top: 30rem;
    /*margin-left: 14rem;*/
    opacity: 0.5;
    animation: slide10 100s infinite;
    
}

@keyframes slide10 {

       0% { 
        transform: translateX(500px);
        opacity: 0.3;
       }

    50% { 
        opacity: 0.5;
        }

    100% { 
        transform: translateX(700px);
        opacity: 0;
        }
        
}

/*Her begynner section 2*/
.s2 {
    
    margin:auto;
    text-align: center;
    color: #FCF9F6;
    line-height: 1.5rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: #646464;

}

.s2 > h1 {
    
    font-size:1.8rem;

}

.s2 > p {

    font-size: 1.3rem;
    font-weight: 300;
    line-height: 180%;
    width: 800px;
    margin: auto;

}

/*Her begynner section 3*/
.s3 {

    color: #FCF9F6;
    padding-top: 12rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 10rem;
    position: absolute;
    width: 100vw;
    background-color: #646464;

}

.s3 > div {

    z-index: 5;
}

.tekstboks {

    padding-top: 5rem;
    width: 450px;

}

.tekstboks > h1 {

    font-size: 1.8rem;
   
}

.tekstboks > p {

    font-size: 1.3rem;
    font-weight: 300;
    line-height: 180%;
    padding-top: 1rem;

}

.mackup {

    width: 280px;

}


/*Her begynner section 4*/

.s4 img {

    width: 100vw;
    position: relative;
    padding-top: 37rem;
}

.s4 {

    overflow: hidden;
}

/*Her begynner section 5*/
.s5 {
    
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 10rem;
    position: absolute;
    top: 185rem;
    width: 100%;

}

.s5 h1 {

    font-size: 1.8rem;
    color: #F9F7F5;
    padding-left: 1rem;
    margin-bottom: 0;
    

}
.s5 p {

    font-size: 1.3rem;
    color: #F9F7F5;
    font-weight: 300;
    padding-left: 1rem;
    margin: .2rem;

}

.s5 .wrapperDowload {

    padding-top: 5rem;
}

.s5 .tekstTilDownload {

    padding-top: 3rem;
}

.s5 a {

    text-decoration: none;
}

.appstore {

    padding: 1rem;
    transition: 1.5s;
    border-radius: 20px;
    margin-left: 1rem;
    

}

.googleplay {

    padding: 1rem;
    transition: 1.5s;
    border-radius: 20px;

} 

.appstore:hover {

    background-color: rgba(37, 37, 37, 0.301);
    
}

.googleplay:hover {

    background-color: rgba(37, 37, 37, 0.301);
   
}


/*Her begynner section 6*/
.s6 {

    padding-top: 7rem;

}

#videoPuls {

    position: relative;
    z-index: 1;

}

/*Her begynner section 7*/
.s7 {

    padding-top: 7rem;
    text-align: center;
    padding-bottom: 8rem;

}

.s7 h1 {

    font-size: 2rem;

}

.s7 p {

    font-size: 1.5rem;
    color: #646464;
    font-weight: 300;
    
}
